/* line 4, git/spokoloko-repo/public/css/scss/share/share-venue.scss */
.add-listing-content {
  margin-bottom: 120px;
}

/* line 6, git/spokoloko-repo/public/css/scss/share/share-venue.scss */
.add-listing-content:not(.active-block) {
  display: none;
  opacity: 0;
}

/* line 10, git/spokoloko-repo/public/css/scss/share/share-venue.scss */
.add-listing-content .active-block {
  display: block;
  opacity: 1;
}

/* line 14, git/spokoloko-repo/public/css/scss/share/share-venue.scss */
.add-listing-content .image-inner {
  width: 100%;
  height: 100%;
}

/* line 17, git/spokoloko-repo/public/css/scss/share/share-venue.scss */
.add-listing-content .image-inner .map-wrapper {
  position: relative;
  top: 0;
  transform: translateY(0);
}

/* line 25, git/spokoloko-repo/public/css/scss/share/share-venue.scss */
.add-listing-content .image-inner .sticky-img {
  width: 100%;
  height: auto;
  position: relative;
  top: 0%;
  transform: translateY(0%);
  left: 0;
  right: 0;
}

/* line 37, git/spokoloko-repo/public/css/scss/share/share-venue.scss */
.add-listing-footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: white;
}

/* line 43, git/spokoloko-repo/public/css/scss/share/share-venue.scss */
.add-listing-footer #pagination .pagination-list {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

/* line 47, git/spokoloko-repo/public/css/scss/share/share-venue.scss */
.add-listing-footer #pagination .pagination-list li {
  padding: 0 0.5em;
  margin: 0 0.5em;
  display: flex;
  align-items: center;
}

/* line 52, git/spokoloko-repo/public/css/scss/share/share-venue.scss */
.add-listing-footer #pagination .pagination-list li::before {
  content: '';
  border-radius: 50%;
  display: inline-block;
  background-color: #aaa;
  width: 1em;
  height: 1em;
}

/* line 61, git/spokoloko-repo/public/css/scss/share/share-venue.scss */
.add-listing-footer #pagination .pagination-list li.pagination-active::before {
  background-color: #FF5722;
}

/* line 70, git/spokoloko-repo/public/css/scss/share/share-venue.scss */
.description-sq {
  padding-top: 20px;
  padding-bottom: 30px;
}

/* line 76, git/spokoloko-repo/public/css/scss/share/share-venue.scss */
.photo-upload > div {
  justify-content: space-around;
}

/* line 80, git/spokoloko-repo/public/css/scss/share/share-venue.scss */
.photo-upload .photo-upload-item:not(#add-photo) {
  cursor: pointer;
  transition: all 200ms ease;
}

/* line 86, git/spokoloko-repo/public/css/scss/share/share-venue.scss */
.photo-upload .photo-upload-item:not(#add-photo):hover {
  transform: scale(1.1);
}

/* line 88, git/spokoloko-repo/public/css/scss/share/share-venue.scss */
.photo-upload .photo-upload-item:not(#add-photo):hover .remove {
  border-color: #DB2828;
  border-width: thin;
  color: inherit;
  text-decoration: none;
}

/* line 94, git/spokoloko-repo/public/css/scss/share/share-venue.scss */
.photo-upload .photo-upload-item:not(#add-photo):hover .remove i {
  color: #DB2828;
}

/* line 100, git/spokoloko-repo/public/css/scss/share/share-venue.scss */
.photo-upload .photo-upload-item:not(#add-photo) .image-wrapper img {
  width: auto !important;
  height: 100% !important;
  top: 0 !important;
  margin-top: 0 !important;
}

/* line 109, git/spokoloko-repo/public/css/scss/share/share-venue.scss */
.photo-upload #add-photo input[type="file"] {
  display: none;
}

/* line 112, git/spokoloko-repo/public/css/scss/share/share-venue.scss */
.photo-upload #add-photo .custom-file-upload {
  cursor: pointer;
}

/* line 121, git/spokoloko-repo/public/css/scss/share/share-venue.scss */
.week-group {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 3%;
}

/* line 126, git/spokoloko-repo/public/css/scss/share/share-venue.scss */
.week-group .day {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  flex-direction: column;
  margin: 0 0.5%;
}

/* line 132, git/spokoloko-repo/public/css/scss/share/share-venue.scss */
.week-group .day .day-btn {
  width: 5em;
  height: 4em;
  background-color: #aaa;
  transition: background-color 200ms cubic-bezier(0.45, 0.05, 0.55, 0.95);
  border: 0;
  outline: 0;
}

/* line 139, git/spokoloko-repo/public/css/scss/share/share-venue.scss */
.week-group .day .day-btn::-moz-focus-inner {
  border: 0;
}

/* line 142, git/spokoloko-repo/public/css/scss/share/share-venue.scss */
.week-group .day .day-btn:hover {
  background-color: #252525;
}

/* line 146, git/spokoloko-repo/public/css/scss/share/share-venue.scss */
.week-group .day .label {
  font-size: 0.8em;
}

/* line 149, git/spokoloko-repo/public/css/scss/share/share-venue.scss */
.week-group .day .hours-available {
  visibility: hidden;
  display: flex;
  opacity: 0;
  align-self: center;
  flex-wrap: nowrap;
  flex-direction: column;
  width: 5em;
  height: auto;
}

/*# sourceMappingURL=share-venue.css.map */